#Basic config file for the rabbitMQ/pika tests
[general]
#rabbitMQ server location
HOST = localhost
#149.165.148.144
PORT  = 5671
#Set wheter to use ssl
USE_SSL = True
#SSL file locations, can be a relative path
CA_CERT_FILE     = ./rabbitCA/testca/cacert.pem
#./futureGridCerts/cacert.pem
CLIENT_CERT_FILE = ./rabbitCA/client/cert.pem
#./futureGridCerts/cert.pem
CLIENT_KEY_FILE  = ./rabbitCA/client/key.pem 
#./futureGridCerts/key.pem
#RPC queue names, must be the same between sender/receiver
RPC_REQUEST_Q = rpcRequestQueue
RPC_CREATE_Q  = rpcCreateQueue
#Timing queue name
TIMING_Q = timingQueue
#Function locations for RPC funcs
RECEIVE_RPC_FUNCS_DIR = ./rpcServerFunctions
